<div class="p-8 border-2 border-gray-300 rounded-lg shadow-md">
    <div class="text-xl font-bold mb-6 text-center">
        {{ question.text }}
    </div>

    <div class="space-y-1">
        
        <label class="flex items-center space-x-4 cursor-pointer hover:bg-black hover:text-white p-2 rounded-lg">
            <input type="checkbox" id="answer-a" name="answer" [checked]="checkboxIsChecked('A')"
                (change)="updateAnswer('A')" class="hidden">
            <span
                class="w-7 h-7 border-2 border-gray-300 rounded-md flex items-center justify-center transition-all duration-300 "
                [class.bg-gray-300]="checkboxIsChecked('A')">
                @if(checkboxIsChecked('A')){
                    <span class="text-black font-bold text-lg">✔</span>
                }
            </span>
            <span class="text-lg">Agree</span>
        </label>

        <label class="flex items-center space-x-4 cursor-pointer hover:bg-black hover:text-white p-2 rounded-lg">
            <input type="checkbox" id="answer-n" name="answer" [checked]="checkboxIsChecked('N')"
                (change)="updateAnswer('N')" class="hidden">
            <span
                class="w-7 h-7 border-2 border-gray-300 rounded-md flex items-center justify-center transition-all duration-300"
                [class.bg-gray-500]="checkboxIsChecked('N')">
                @if(checkboxIsChecked('N')) {
                    <span class="text-white font-bold text-lg">✔</span>
                }
            </span>
            <span class="text-lg">Neutral</span>
        </label>

        <label class="flex items-center space-x-4 cursor-pointer hover:bg-black hover:text-white p-2 rounded-lg">
            <input type="checkbox" id="answer-d" name="answer" [checked]="checkboxIsChecked('D')"
                (change)="updateAnswer('D')" class="hidden">
            <span
                class="w-7 h-7 border-2 border-gray-300 rounded-md flex items-center justify-center transition-all duration-300"
                [class.bg-gray-700]="checkboxIsChecked('D')">
                @if(checkboxIsChecked('D')) {
                    <span class="text-white font-bold text-lg">✔</span>
                }
            </span>
            <span class="text-lg">Disagree</span>
        </label>
    </div>

    <div class="mt-8">
        <button
            class="w-full bg-white text-black text-lg py-3 rounded-lg shadow-md hover:bg-black hover:text-white transition-all duration-300"
            (click)="submitAnswer()">Next</button>
    </div>
</div>