<div class="question">
    <div class="question-text">
        {{ question.text }}
    </div>

    <div class="question-options">
        <li>
            <input type="checkbox" id="answer-a" name="answer-a" [checked]="checkboxIsChecked('A')"
                (change)="updateAnswer('A')">
            <label for="answer-a">Agree</label>
        </li>
        <li>
            <input type="checkbox" id="answer-n" name="answer-n" [checked]="checkboxIsChecked('N')"
                (change)="updateAnswer('N')">
            <label for="answer-n">Neutral</label>
        </li>
        <li>
            <input type="checkbox" id="answer-d" name="answer-d" [checked]="checkboxIsChecked('D')"
                (change)="updateAnswer('D')">
            <label for="answer-d">Disagree</label>
        </li>
    </div>
    <div class="cover-next-button">
        <button class="next-button" (click)="submitAnswer()"> Next </button>
    </div>
</div>