.main-header{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 2rem;
    top: 20%
}

.main-content{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 1rem;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.main-start-test {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.main-start-test-button {
    height: 72px;
    width: 200px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 28px;
}


@media screen and (max-width: 600px) {
    .main-header {
        margin-top: 10%;
        font-size: 1.3rem;
    }
    .main-content {
        margin-top: 3%;
        font-size: 0.8rem;
    }
}